name: Deploy to Cloud Run Prod

env:
  SERVICE_NAME: ecp-observatorio-backend
  PROJECT_ID: proyecto-goceana
  DOCKER_IMAGE_URL: us-central1-docker.pkg.dev/proyecto-goceana/ecp-observatorio-backend/ecp-observatorio-backend

on:
  push:
    branches:
      - main
      - develop
      - hotfix/*
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  dockerize-and-deploy:
    runs-on: ubuntu-latest
    # Solo ejecutar en PRs de develop a main o de hotfix/* a main
    if: github.event_name == 'pull_request' && github.base_ref == 'main' && (github.head_ref == 'develop' || startsWith(github.head_ref, 'hotfix/'))

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Google Cloud Auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          project_id: ${{ env.PROJECT_ID }}

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Configure Docker
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ env.DOCKER_IMAGE_URL }}:latest -f Dockerfile .
          docker push ${{ env.DOCKER_IMAGE_URL }}:latest

      - name: Deploy to Cloud Run
        run: |
          echo SERVICE_NAME $SERVICE_NAME
          gcloud run deploy $SERVICE_NAME \
            --image ${{ env.DOCKER_IMAGE_URL }}:latest \
            --platform managed \
            --region us-central1 \
            --allow-unauthenticated
